/* Don't change the existing CSS. */
#outer-box {
  background-color: purple;
}

.box {
  background-color: blue;
  padding: 10px; 
}

.inner-box {
  background-color: red;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}


.white-text {
  color: white;
}


/* Specificity and Inheritance: in order of specification
1-id (ex.id="outer-box")
2-attributes (ex. draggable)
3-class (ex. class="box")
4-elemnts (ex. <li>{color: green;}</li>